#!/bin/bash
if [ -e "${HOME}/.cache/wal/colors" ]; then
    wal -n -e -R --cols16
    nitrogen --restore
    echo "Cached colors exist. Using existing colors."
else
    DIR=$HOME/.config/wallpapers
    PICS=($(ls ${DIR}))

    RANDOMPICS=${PICS[ $RANDOM % ${#PICS[@]} ]}
    echo ${DIR}/${RANDOMPICS}
    nitrogen ${DIR}/${RANDOMPICS} --set-zoom-fill --save
    wal -n -e -i ${DIR}/${RANDOMPICS} --cols16

    echo "Successfully set a new wallpaper and generated colors from it."
fi
